{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {% set registrationForm = form_service.registrationForm %}
    {% include 'form/register-form.html.twig' %}

{% endblock %}
