<section class="container-fluid bg-light mb-3">
    <div class="container">
        <div class="d-none d-md-block mt-5">
            <h3 class="text-center p-4">Historique du profil</h3>
            <div class="row">
                <div class="col-12 col-lg-6 mb-4">
                    <div class="card p-3">
                        <img src="img/college5.jpg" class="card-img-top" alt="collège banlieu de Berlin">
                        <div class="card-body">
                            <h4 class="card-title">Hôte</h4>
                            <p class="card-text">Pour une deuxième année consécutive une classe de 3ème a pu à
                                nouveau profiter
                                d'une
                                immersion dans un collège en banlieue de Berlin.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>